body {
    font-family: Hero, "Times New Roman", sans-serif;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: white;
}

a {
    text-decoration: none;
    color: lightgrey;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.top {
    background-color: #1F2937;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 16px 64px 64px;
    gap: 40px;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 550px;
}

h1 {
    color: white;
    font-size: 48px;
    margin: 0px;
}

p {
    color: lightgrey;
}

button {
    color: white;
    background-color: #3882F6;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px 24px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    flex-wrap: wrap;
}

img {
    width: 200px;
    height: auto
}

.main {
    width: 400px;
}

.review {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}